<section id="formacion">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <p class="parrafo">Licenciatura en Ciencia Politica</p>
        <img
          class="foto"
          id="LogoUNVM"
          src=".\assets\img\favicon/LogoUNVM.png"
          height="200px"
          width="150px"
        />
      </div>
      <div class="carousel-item">
        <p class="parrafo">Data Analisys</p>
        <img
          class="foto"
          id="Data"
          src="./assets/img/favicon/coderlogo.png"
          height="200px"
          width="200px"
        />
      </div>
      <div class="carousel-item">
        <p class="parrafo">
          Comunicación Institucional Pública: Estrategias y Herramientas de
          Gestión Digital
        </p>
        <img
          class="foto"
          id="LogoUNVM"
          src=".\assets\img\favicon/SIGLA_UCC.png"
          height="200px"
          width="150px"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
