<section id="perfil">
  <div class="row">
    <div class="col-sm-3">
      <img
        class="frontal"
        src="./assets/img/favicon/fotcv.jpg"
        height="260"
        width="260"
      />
    </div>
    <div class="col-sm-9">
      <h3 id="h3perfil" style="text-align: center">
        <span class="fondospan">Perfil personal</span>
      </h3>
      <p id="pespecial" style="text-align: center">
        <span class="fondospan">
          Soy Estudiante de Licenciatura en Ciencia Política, actualmente
          finalizando mi tesis de grado. Siempre me apasionaron las ciencias
          sociales.</span
        >
      </p>

      <p id="pespecial" style="text-align: center">
        <span class="fondospan">
          Hace algunos años comence a incursionar en el mundo del analisis de
          datos y programación. Mi objetivo es poder combinar ambas disciplinas,
          la tecnologia es un gran aliado para los cientistas sociales.</span
        >
      </p>
    </div>
  </div>
</section>
