<div class="presentacioon">
  <section id="presentacion">
    <div class="row">
      <h1 id="nombre" style="text-align: center">
        <span class="fondospan">Hola! soy</span>
      </h1>
      <h1 id="nombre" style="text-align: center">
        <span class="fondospan">Andrés Grubisich</span>
      </h1>
      <p id="bienvenida" style="text-align: center">
        <span class="fondo"
          ><span class="fondospan">Bienvenidos a mi sitio web</span></span
        >
      </p>
      <p id="bienvenida" style="text-align: center">
        <span class="fondospan"
          >los invito a conocerme y hechar un vistaso a mi trabajo</span
        >
      </p>
    </div>
    <!-- Boton ver mas-->
    <app-botonvermas></app-botonvermas>
  </section>
</div>
