@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@600;800&display=swap");
* {
  font-family: "League Spartan", sans-serif;
  margin: 0%;
  padding: 0.3%;
  box-sizing: border-box;
  color: rgb(0, 18, 31);
}
body {
  background-size: cover;
  background-image: url(https://static.vecteezy.com/system/resources/previews/012/684/237/non_2x/texture-background-of-fashion-pastel-color-violet-geometric-textured-paper-top-view-free-photo.JPG);
}

h1 {
  padding: 15px;
  font-size: 60px;
}

#ubicacion {
  font-size: 25px;
}
.nuevo {
  display: flex;
  justify-content: center;
  padding: 55px;
}

.frontal {
  display: block;
  border-radius: 20%;
  border: solid 2px rgb(0, 18, 31);
}

#h3perfil {
  font-size: 60px;
}

#pespecial {
  font-size: 20px;
}

.perfil2 {
  padding: 20%;
  background-color: rgb(3, 179, 91);
}

.formaciones {
  padding: 50%;
  background-color: rgb(70, 94, 160);
}

#h3formacion {
  font-size: 60px;
}

header {
  position: unset;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  margin-right: 20px;
}

.navbar-nav .nav-link:last-child {
  margin-right: 0;
}
