<section id="habilidades">
  <h1 style="text-align: center"><span class="fondospan">Habilidades</span></h1>
  <div class="skill-container">
    <p><span class="fondospan">Desarrollo Web</span></p>
    <div class="progress">
      <div class="progress-bar bg-info text-dark" style="width: 50%">50%</div>
    </div>
  </div>
  <div class="skill-container">
    <p><span class="fondospan">Data Analysis</span></p>
    <div class="progress">
      <div class="progress-bar bg-warning text-dark" style="width: 75%">
        75%
      </div>
    </div>
  </div>
  <div class="skill-container">
    <p><span class="fondospan">Comunicacion Digital</span></p>
    <div class="progress">
      <div class="progress-bar bg-danger" style="width: 80%">80%</div>
    </div>
  </div>
  <div class="skill-container">
    <p><span class="fondospan">Paquete Office</span></p>
    <div class="progress">
      <div class="progress-bar bg-dark-green" style="width: 100%">100%</div>
    </div>
  </div>
</section>
